.App {
  text-align: center;
  background-color: #272928;
}

/* HEADER */


/* NAVBAR */

  #navBar{
    background-color: blueviolet;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }


  /* #leftLinks{
  }

  #mysti{
  }

  #rightLinks{
  } */

/* HOME/LANDING/SPREADS PAGE */

  #spreadsSelection{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width: fit-content;
    height: 500px;
    padding: 10px

  }

.cardContainer{
  display: flex;
  flex-wrap: wrap;

}


.card{
  /* background-color: blanchedalmond;
  border: 5px solid black; */
  background:url(assets/CARD1.png);

  margin:15px;
  height: 66vh;
  width: 17vw;
}

/*  COLOR PALETTE
BLACK - 272928
CREAM - E3DDDD
GREEN - 98AE92
BLUE - 7F97A4
RED - DF414E
PINK - 93586C
*/