@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* APP ******************************************************************/
img{
  padding:0;
  margin:0;

}
      .App {
        background-color: #E3DDDD;
        font-family: 'Philosopher', sans-serif;
        font-style: bold;
        text-align: center;
      }

                                    /* PAGE CONTAINER FORMATTING */

            #header,          
            #navBar, 
            #titleSpacer,        /**/
            #titleContainer,    /**/
            #footer, 
            .pageContainer,     
            #accPageContainer,  
            .redirectContainer /**/ {
                    margin: 0 auto;
                    max-width: 1100px;
                    min-width:550px;
                    background-color: #98AE92;
                    border-left: 1px solid #272928;
                    border-right: 1px solid #272928;
            }

/* FLOATING CONTAINER FORMATTING */

        #titleText, 
        .blurbContainer, 
        .linkBtn, 
        #accContainer {
          border-radius: 15px;
          border: 1px solid #272928;
          border-bottom: 2px solid #272928;
          border-right: 2px solid #272928;
          box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
        }


/* HEADER *****************SPACER*************************************************/

      #header{
        height: 70px;
      }
         
          
          
/* NAVBAR *********************************************************************************/
          
      #navBar{
        background-color: #7F97A4;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        position: relative;
        border-top: 1px solid black;
        border-bottom: 2px solid black;
      }

      #mysti{
        font-size: 50px;
        padding-top:6px;
      }
      
      /********************** WHY CAN'T I CONDENSE LEFT & RIGHT LINKS */

      #leftLinks{
        margin-left: 35px;
        position: absolute;
        left: 0;
      }
      
      #rightLinks{
        margin-right: 35px;
        position: absolute;
        right: 0;
      }




      .navBtn{
        background-color: #7F97A4;
        border: none;
        cursor: pointer;
        font-size: 20px;
        text-decoration: underline;
      }

      .navBtn:active{
        transform: translateY(2px);
      }



/* TITLE CONTAINER ******************CUPS/SWORDS/PENTACLES/WANDS/MAJOR/CHOOSE CATEGORY/SPREAD/MINOR ARCANA************************************************/

      #titleSpacer{
        display: flex;
        align-items: center;
        height: 50px;
      }

      #titleContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
      }

      #titleText{
        background-color: #272928;
        color:#E3DDDD;
        width:950px;
        min-width:40vw;
        font-size: 23px;
      }



/* OPTIONS PAGES ***********************SPREADS/LEARN/MINOR**********************************************************/
      
      .pageContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 650px;
        padding-top: 65px;
      }

      .optionCard{ 
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 15px;         /* THIS ADDS CUSHION BETWEEN OPTION CARDS WHEN STACKING */
        padding: 10px;
        padding-bottom: 25px;
        height: 530px;
      
                                      border-bottom: 1px solid #272928;
                                      border-right: 1px solid #272928;
                                      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
      }

      .blurbContainer{
        background-color: #cb3844;
        width:190px;
        height: 150px;
        margin:0 auto;
      }
      
      .optionBlurb{
        font-style: italic;
        padding:10px;
        font-size: 12px;;
      }
      
      #cardBlurb3{
        min-width: 250px;
        margin: 10px;
      }

       #cardBlurb2-1{
        height: 250px;
        align-self: end;
        margin-bottom: 5vh;
        margin-left: 1.5vw;
      }

      #cardBlurb2-2{
        height: 250px;
        align-self: start;
        margin-top:5vh;
        margin-right: 1.5vw;

      } 

/* MAIN STYLES ***********************SPREAD SELECTION/LANDING**********************************************************/

      #imgCircle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #93586C;
        border: 2px solid #272928;
        margin-bottom: 4.7vh;
        margin-top: 2vh;
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;

      }

      #mainCardImg{
        width:250px;
        height:372px;
        transform: scale(.61);
        margin-top: -85px;
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
        justify-self: center;
      }

      #mainOptionBtn{
        height: 56px;
        font-size: 16px;
        width: 180px;
      }
      
      
      
/* LEARN STYLES ***********************MINOR/MAJOR ARCANA SELECTION**********************************************************/
      
      #learnOptionCard{
        margin-left: 50px;
        margin-right: 50px;
      }

      #learnCardImg{
        width:250px;
        height:372px;
        transform: scale(.77);
        margin-top: -60px;
      }
      

      
/* MINOR STYLES ***********************MINOR LANDING**********************************************************/   
      
      #minorOptionBtntn{
        font-size: 24px;
      }
      

      #minorCardImg{
        width:250px;
        height:372px;
        transform: scale(.75);
        margin-top: -60px;
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
      }

      
/* RESULTS PAGES **********************PREVIEWS FOR CUPS/SWORDS/PENTACLES/WANDS/MAJOR********************************************/



      
      
/* BUTTONS STYLES ***********************LEARN**********************************************************/
      
      .linkBtn{
        background-color: #E3DDDD; 
        color: #272928;
        margin-bottom: 25px;      
        cursor: pointer;
        width: 200px;
      }
      
      .linkBtn:hover{
        background-color: #c3bdbd;
        text-decoration: underline;
      }
      
      .linkBtn:active{
        transform: translateY(2px);
      }
      
      
/* FOOTER *****************SPACER*************************************************/
      
      #footer{
        background-color: #7F97A4;
        height: 40px;
        border-top: 2px solid #272928;
        overflow: hidden;
        display: flex; 
        align-items:center;                                              
      }

/* ACCORDION STYLES *****************RESULTS*************************************************/

      #accPageContainer{
        padding-top:30px;
        padding-bottom: 30px;
      }
      
      #accContainer{
        background-color: #93586C;
        max-width: 900px;
        min-width:300px;
        margin: 0 auto;
        padding: 40px;
        margin-bottom: 10px;
        
      }

      #upRevDivContainer{
        background-color: #E3DDDD;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
      }

      #accResultsCard{
        padding-top:5px;
        padding-bottom: 5px;
        margin: 0 auto;
        /* text-decoration: underline; */
      }

      #upRevResults{
        background-color: #E3DDDD;
        width: 400px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding-top: 15px;
      }
      
      #accTitle{
        text-decoration: underline;
      }

      #accResultsText{
        text-align: center;
        font-size: 12px;
        background-color: #E3DDDD;
        padding: 8px;
        border-radius: 15px;

      }

      #descResults{
        background-color: #E3DDDD;
        border-radius: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;

      }


      /* #cardImg1{
        width:250px;
        height:372px;
        transform: scale(.77);      }*/




/* REDIRECT BUTTON CONTAINER *********************************************************************************/

#redirectContainer{
  height: 100px;
  justify-content: center;

                                        margin: 0 auto;
                                        max-width: 1100px;
                                        min-width: 550px;
                                        border-right: 1px solid #272928;
                                        border-left: 1px solid #272928;
                                        background-color: #98AE92;
}




#redirectBtn{
  width:240px;
  background-color: #323333;
  color: #E3DDDD;
  font-size: 26px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#redirectBtn:hover {
  background-color: #2e2e2e;
}

#redirectBtn:active {
  transform: translateY(2px);

}

.marquee {
  height: 20px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin:0 auto;
}

.marqueeContent{
  display:inline-block;
  animation: marquee 30s linear infinite;
  transform: translateX(100%);
}

@keyframes marquee{
  0%{transform: translateX(0%);}
  100%{transform: translateX(-100%);}
}



.divStackCards3{
  display: flex;  
  flex-direction: row;
  min-width:80%;
  max-width:100%;
  justify-content: space-evenly;
}

.divStackBlurbs3{
  display: flex;  
  flex-direction: row;
  max-width: 80%;
  min-width:100%;
  justify-content: space-evenly;
}

/* 3CARD STYLES *********/

#spread3PageContainer{

} 


.optionCard3{
  justify-content: center;
  background-color: #cb3844;
  width:250px;
}

#cardImg3{
  width:250px;
  height:372px;
  transform: scale(.8);
  margin: 0 auto;
  padding:0;
}

#cardImg2{
  width:250px;
  height:372px;
  transform: scale(.87);
  margin: 0 auto;
  margin-right:5px;
  margin-left:5px;
} 

/* #spread2PageContainer{
justify-content: center;

} */


.divStack2{
  background-color: #98AE92;
  display: flex;
  align-items: center;
  /* margin:10px; */
  max-height:400px;
  width:500px;
  padding:10px;
  margin: 10px;




}

.modal{
  background-color:rgba(0, 0, 0, 0.5);
  width: 100vw;


}


.modalContent{
  background-color: #7F97A4;
  width:300px;
  height:300px;
}


#divStackContainer{
  border-bottom: 1px solid #272928;
  border-right: 1px solid #272928;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width:fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
